/* .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100%;
  background: white;
  top: 0px;
}
.nav-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100%;
  background: #005fb2;
  top: 0px;
} */
